.root {
	-fx-background: transparent;
}

.text-dialog {
	-fx-background-color: #819d97;
	-fx-text-fill: #ffffff;
	-fx-font-size: 12px;
	-fx-font-weight: bold;
	-fx-font-family: 'monospace';
}

.game-grid {
	-fx-background-color: #2c2f41;
}

.game-grid .label {
	-fx-border-color: #819d97;
	-fx-text-fill: #819d97;
	-fx-font-size: 16px;
	-fx-font-weight: bold;
	-fx-font-family: 'monospace';
}

.table-view:focused {
	-fx-background-color: #819d97;
}

.table-view .column-header-background .label {
    -fx-background-color: transparent;
   	-fx-text-fill: #ffffff;
   	-fx-font-family: 'monospace';
}

.table-view .column-header {
    -fx-background-color: #4e4b4b;
}

.table-view .table-row-cell {
	-fx-table-cell-border-color: transparent;
	-fx-background-color: #b6033f;
}

.table-view .table-cell {
	-fx-background-color: transparent;
  	-fx-text-fill: #bfaeae;
  	-fx-font-family: 'monospace';
}

.table-view .table-column {
  	-fx-alignment: center;
}

.table-view .table-column:focused {
	-fx-background-color: transparent;
}

.table-view .table-column:selected {
	-fx-background-color: transparent;
}

.table-view .table-row-cell:odd {
	-fx-background-color: #000000;
}

.table-view .increment-button,
.table-view .decrement-button {
    -fx-background-color: #ffffff;
    -fx-border-color: transparent;
    -fx-background-insets: 2, 2, 2;
}

.table-view .scroll-bar:vertical {
	-fx-background-color: #70545d;
	-fx-border-color: #70545d;
}

.table-view .scroll-bar:vertical .track{
    -fx-background-color: #70545d;
    -fx-border-color: #70545d;
}

.table-view .scroll-bar:vertical .thumb {
	-fx-border-color: transparent;
    -fx-background-color: #ffffff;
    -fx-background-insets: 2, 2, 2;
}
